.background{
    position: relative;
    border-width: 10px;
    border-style: solid;
    border-color:black ;
    background-color: black;
    
  }
  .text-on-image{
    position: absolute;
    bottom: 70%;
    left: 60%;
    color: white;
    font-size:larger;
  }
  .backgroundimage img{
   
    height: 580px;
    width: auto;
    opacity: 90%;
   
  }

  .intro-block
{
	position: relative;
	background-color: white;
	margin:50px 0px 0px;
	text-align: center;
	padding: 70px 25px 40px;
}

.intro-block:hover , intro-block.active
{
	background: red;
}

.intro-block:hover
{
	transition: 0.6s ease;
		-webkit-transition: 0.6s ease;
			-moz-transition: 0.6s ease;
				-ms-transition: 0.6s ease;
					-o-transition: 0.6s ease;

}

.intro-block h3
{
  font-size: 18px;
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.intro-block:hover h3, intro-block:hover p
{
color: white;
}
.more{
  position: relative;
	background-color: white;
	margin:50px 0px 0px;
	text-align: center;
	padding: 70px 25px 40px;
}
